body {
    font: 18px sans-serif;
}
#container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#toggle {
    margin: 10px;
    height: 50px;
    width: 100px;
    background-color: darkred;
    color: white;
} 

#toggle.started {
    background-color: lightgreen;
    color: black;
}

#throtRange {
    margin: 10px;
    width: 300px;
}

#throtDisplay {
    display: inline-block;
    color: gray;
    width: 20px;
    margin: 10px;
}